body{
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	
}

#wrapper{
	background: #fff;
}

#header{
	background: #2bbc9b;
	text-transform: uppercase;
}

a#logo{
	display: block;
	padding: 10px 0px;
}

ul#main-menu li {
	/*display: inline-block;
	margin-left: -5px;*/
	float: left;
	position: relative;
}

ul#main-menu li a{
	padding: 32px 28px;
	display: block;
	color: #fff;
}

#main-menu li a.active, ul#main-menu>li:hover>a{
	background: #24a085;
	transition: all 0.25s;
}

#main-menu .sub-menu{
	position: absolute;
	width: 240px;
	background: #2bbc9b;
	font-size: 18px;
}

#main-menu .sub-menu li{
	float: none;
	display: none;
}

#main-menu .sub-menu li a{
	padding: 16px 16px 16px 25px;
	border-top: 1px solid #fff;
	position: relative;
}

#main-menu .sub-menu>li:hover>a{
	background: #24a085;
	transition: all 0.25s;
}

#main-menu .sub-menu>li>a:after{
	content: "\f0da";
	font-family: FontAwesome;
	position: absolute;
	right: 16px;
}
#main-menu .sub-menu .child-menu{
	position: absolute;
	top: 0px;
    right: -240px;
    background: #2bbc9b;
    width: 240px;
}

#main-menu .child-menu li:hover a{
	background: #24a085;
	transition: all 0.25s;
}

#main-menu li:hover .sub-menu>li,#main-menu .sub-menu li:hover .child-menu li{
	display: block;
}


















